<div id="baseball_container">
  <div class="league_one_container">
    <div class="league_one_content">
      <h4>American League</h4>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[1]" %>
        <%= label_tag "baseball[1]", "Baltimore Orioles" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[2]" %>
        <%= label_tag "baseball[2]", "Boston Red Sox" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[4]" %>
        <%= label_tag "baseball[4]", "Chicago White Sox" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[5]" %>
        <%= label_tag "baseball[5]", "Cleveland Indians" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[6]" %>
        <%= label_tag "baseball[6]", "Detroit Tigers" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[18]" %>
        <%= label_tag "baseball[18]", "Houston Astros" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[7]" %>
        <%= label_tag "baseball[7]", "Kansas City Royals" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[3]" %>
        <%= label_tag "baseball[3]", "Los Angeles Angels" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[9]" %>
        <%= label_tag "baseball[9]", "Minnesota Twins" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[10]" %>
        <%= label_tag "baseball[10]", "New York Yankees" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[11]" %>
        <%= label_tag "baseball[11]", "Oakland Athletics" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[12]" %>
        <%= label_tag "baseball[12]", "Seattle Mariners" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[30]" %>
        <%= label_tag "baseball[30]", "Tampa Bay Rays" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[13]" %>
        <%= label_tag "baseball[13]", "Texas Rangers" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[14]" %>
        <%= label_tag "baseball[14]", "Toronto Blue Jays" %>
      </div>
    </div>
  </div>
  <div class="league_two_container">
    <div class="league_two_content">
      <h4>National League</h4>

      <div class="checkbox_container">
        <%= check_box_tag "baseball[29]" %>
        <%= label_tag "baseball[29]", "Arizona Diamondbacks" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[15]" %>
        <%= label_tag "baseball[15]", "Atlanta Braves" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[16]" %>
        <%= label_tag "baseball[16]", "Chicago Cubs" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[17]" %>
        <%= label_tag "baseball[17]", "Cincinnati Reds" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[27]" %>
        <%= label_tag "baseball[27]", "Colorado Rockies" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[19]" %>
        <%= label_tag "baseball[19]", "Los Angeles Dodgers" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[28]" %>
        <%= label_tag "baseball[28]", "Miami Marlins" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[8]" %>
        <%= label_tag "baseball[8]", "Milwaukee Brewers" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[21]" %>
        <%= label_tag "baseball[21]", "New York Mets" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[23]" %>
        <%= label_tag "baseball[23]", "Pittsburgh Pirates" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[22]" %>
        <%= label_tag "baseball[22]", "Philadelphia Phillies" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[25]" %>
        <%= label_tag "baseball[25]", "San Diego Padres" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[26]" %>
        <%= label_tag "baseball[26]", "San Francisco Giants" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[24]" %>
        <%= label_tag "baseball[24]", "St. Louis Cardinals" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "baseball[20]" %>
        <%= label_tag "baseball[20]", "Washington Nationals" %>
      </div>
    </div>
  </div>
</div>