<div id="basketball_container">
  <div class="league_one_container">
    <div class="league_one_content">
      <h4>Western Conference</h4>

      <div class="checkbox_container">
        <%= check_box_tag "basketball[6]", "1", has_basketball_team?("6") %>
        <%= label_tag "basketball[6]", "Dallas Mavericks" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[7]", "1", has_basketball_team?("7") %>
        <%= label_tag "basketball[7]", "Denver Nuggets" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[9]", "1", has_basketball_team?("9") %>
        <%= label_tag "basketball[9]", "Golden State Warriors" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[10]", "1", has_basketball_team?("10") %>
        <%= label_tag "basketball[10]", "Houston Rockets" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[12]", "1", has_basketball_team?("12") %>
        <%= label_tag "basketball[12]", "Los Angeles Clippers" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[13]", "1", has_basketball_team?("13") %>
        <%= label_tag "basketball[13]", "Los Angeles Lakers" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[29]", "1", has_basketball_team?("29") %>
        <%= label_tag "basketball[29]", "Memphis Grizzlies" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[16]", "1", has_basketball_team?("16") %>
        <%= label_tag "basketball[16]", "Minnesota Timberwolves" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[3]", "1", has_basketball_team?("3") %>
        <%= label_tag "basketball[3]", "New Orleans Pelicans" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[25]", "1", has_basketball_team?("25") %>
        <%= label_tag "basketball[25]", "Oklahoma City Thunder" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[21]", "1", has_basketball_team?("21") %>
        <%= label_tag "basketball[21]", "Phoenix Suns" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[22]", "1", has_basketball_team?("22") %>
        <%= label_tag "basketball[22]", "Portland Trail Blazers" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[23]", "1", has_basketball_team?("23") %>
        <%= label_tag "basketball[23]", "Sacramento Kings" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[24]", "1", has_basketball_team?("24") %>
        <%= label_tag "basketball[24]", "San Antonio Spurs" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[26]", "1", has_basketball_team?("26") %>
        <%= label_tag "basketball[26]", "Utah Jazz" %>
      </div>
    </div>
  </div>
  <div class="league_two_container">
    <div class="league_two_content">
      <h4>Eastern Conference</h4>

      <div class="checkbox_container">
        <%= check_box_tag "basketball[1]", "1", has_basketball_team?("1") %>
        <%= label_tag "basketball[1]", "Atlanta Hawks" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[2]", "1", has_basketball_team?("2") %>
        <%= label_tag "basketball[2]", "Boston Celtics" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[17]", "1", has_basketball_team?("17") %>
        <%= label_tag "basketball[17]", "Brooklyn Nets" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[30]", "1", has_basketball_team?("30") %>
        <%= label_tag "basketball[30]", "Charlotte Hornets" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[4]", "1", has_basketball_team?("4") %>
        <%= label_tag "basketball[4]", "Chicago Bulls" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[5]", "1", has_basketball_team?("5") %>
        <%= label_tag "basketball[5]", "Cleveland Cavaliers" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[8]", "1", has_basketball_team?("8") %>
        <%= label_tag "basketball[8]", "Detroit Pistons" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[11]", "1", has_basketball_team?("11") %>
        <%= label_tag "basketball[11]", "Indiana Pacers" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[14]", "1", has_basketball_team?("14") %>
        <%= label_tag "basketball[14]", "Miami Heat" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[15]", "1", has_basketball_team?("15") %>
        <%= label_tag "basketball[15]", "Milwaukee Bucks" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[18]", "1", has_basketball_team?("18") %>
        <%= label_tag "basketball[18]", "New York Knicks" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[19]", "1", has_basketball_team?("19") %>
        <%= label_tag "basketball[19]", "Orlando Magic" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[20]", "1", has_basketball_team?("20") %>
        <%= label_tag "basketball[20]", "Philadelphia 76ers" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[28]", "1", has_basketball_team?("28") %>
        <%= label_tag "basketball[28]", "Toronto Raptors" %>
      </div>
      <div class="checkbox_container">
        <%= check_box_tag "basketball[27]", "1", has_basketball_team?("27") %>
        <%= label_tag "basketball[27]", "Washington Wizards" %>
      </div>
    </div>
  </div>
</div>