<div class="team_form_container">
  <%= form_tag "/teams", :class => "team_form" do %>
    <h2 id="baseball_header">Major League Baseball</h2>
    <%= render partial: "major_league_baseball" %>

    <h2 id="basketball_header">National Basketball Association</h2>
    <%= render partial: "national_basketball_association" %>

    <h2 id="football_header">National Football League</h2>
    <%= render partial: "national_football_league" %>

    <div class="submit_button">
      <%= submit_tag "Add Teams" %>
    </div>
  <% end %>
</div>

<script>
  var football_container = $('#football_container');
  var basketball_container = $('#basketball_container');
  var baseball_container = $('#baseball_container');
  var football_header = $('#football_header');
  var basketball_header = $('#basketball_header');
  var baseball_header = $('#baseball_header');
  var submit_button = $('.submit_button');

  football_container.hide();
  basketball_container.hide();
  baseball_container.hide();
  submit_button.hide();

  football_header.click(function () {
    football_container.toggle();
  });

  basketball_header.click(function () {
    basketball_container.toggle();
  });

  baseball_header.click(function () {
    baseball_container.toggle();
  });

  $('input').click(function () {
    if ($('input:checked').length > 0) {
      submit_button.show();
    } else {
      submit_button.hide();
    }
  });
</script>