<div class="team_form_container">
<%= form_tag "/teams", :class => "team_form" do %>
  <h2>Major League Baseball</h2>

  <div id="baseball_container">
    <div class="league_one_container">
      <div class="league_one_content">
        <h4>American League</h4>

        <div class="checkbox_container">
          <%= check_box_tag "baseball[1]" %>
          <%= label_tag "baseball[1]", "Baltimore Orioles" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[2]" %>
          <%= label_tag "baseball[2]", "Boston Red Sox" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[4]" %>
          <%= label_tag "baseball[4]", "Chicago White Sox" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[5]" %>
          <%= label_tag "baseball[5]", "Cleveland Indians" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[6]" %>
          <%= label_tag "baseball[6]", "Detroit Tigers" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[18]" %>
          <%= label_tag "baseball[18]", "Houston Astros" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[7]" %>
          <%= label_tag "baseball[7]", "Kansas City Royals" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[3]" %>
          <%= label_tag "baseball[3]", "Los Angeles Angels" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[9]" %>
          <%= label_tag "baseball[9]", "Minnesota Twins" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[10]" %>
          <%= label_tag "baseball[10]", "New York Yankees" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[11]" %>
          <%= label_tag "baseball[11]", "Oakland Athletics" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[12]" %>
          <%= label_tag "baseball[12]", "Seattle Mariners" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[30]" %>
          <%= label_tag "baseball[30]", "Tampa Bay Rays" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[13]" %>
          <%= label_tag "baseball[13]", "Texas Rangers" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[14]" %>
          <%= label_tag "baseball[14]", "Toronto Blue Jays" %>
        </div>
      </div>
    </div>
    <div class="league_two_container">
      <div class="league_two_content">
        <h4>National League</h4>

        <div class="checkbox_container">
          <%= check_box_tag "baseball[29]" %>
          <%= label_tag "baseball[29]", "Arizona Diamondbacks" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[15]" %>
          <%= label_tag "baseball[15]", "Atlanta Braves" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[16]" %>
          <%= label_tag "baseball[16]", "Chicago Cubs" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[17]" %>
          <%= label_tag "baseball[17]", "Cincinnati Reds" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[27]" %>
          <%= label_tag "baseball[27]", "Colorado Rockies" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[19]" %>
          <%= label_tag "baseball[19]", "Los Angeles Dodgers" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[28]" %>
          <%= label_tag "baseball[28]", "Miami Marlins" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[8]" %>
          <%= label_tag "baseball[8]", "Milwaukee Brewers" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[21]" %>
          <%= label_tag "baseball[21]", "New York Mets" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[23]" %>
          <%= label_tag "baseball[23]", "Pittsburgh Pirates" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[22]" %>
          <%= label_tag "baseball[22]", "Philadelphia Phillies" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[25]" %>
          <%= label_tag "baseball[25]", "San Diego Padres" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[26]" %>
          <%= label_tag "baseball[26]", "San Francisco Giants" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[24]" %>
          <%= label_tag "baseball[24]", "St. Louis Cardinals" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "baseball[20]" %>
          <%= label_tag "baseball[20]", "Washington Nationals" %>
        </div>
      </div>
    </div>
  </div>
  <h2>National Basketball Association</h2>

  <div id="basketball_container">
    <div class="league_one_container">
      <div class="league_one_content">
        <h4>Western Conference</h4>

        <div class="checkbox_container">
          <%= check_box_tag "basketball[6]" %>
          <%= label_tag "basketball[6]", "Dallas Mavericks" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[7]" %>
          <%= label_tag "basketball[7]", "Denver Nuggets" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[9]" %>
          <%= label_tag "basketball[9]", "Golden State Warriors" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[10]" %>
          <%= label_tag "basketball[10]", "Houston Rockets" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[12]" %>
          <%= label_tag "basketball[12]", "Los Angeles Clippers" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[13]" %>
          <%= label_tag "basketball[13]", "Los Angeles Lakers" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[29]" %>
          <%= label_tag "basketball[29]", "Memphis Grizzlies" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[16]" %>
          <%= label_tag "basketball[16]", "Minnesota Timberwolves" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[3]" %>
          <%= label_tag "basketball[3]", "New Orleans Pelicans" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[25]" %>
          <%= label_tag "basketball[25]", "Oklahoma City Thunder" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[21]" %>
          <%= label_tag "basketball[21]", "Phoenix Suns" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[22]" %>
          <%= label_tag "basketball[22]", "Portland Trail Blazers" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[23]" %>
          <%= label_tag "basketball[23]", "Sacramento Kings" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[24]" %>
          <%= label_tag "basketball[24]", "San Antonio Spurs" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[26]" %>
          <%= label_tag "basketball[26]", "Utah Jazz" %>
        </div>
      </div>
    </div>
    <div class="league_two_container">
      <div class="league_two_content">
        <h4>Eastern Conference</h4>

        <div class="checkbox_container">
          <%= check_box_tag "basketball[1]" %>
          <%= label_tag "basketball[1]", "Atlanta Hawks" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[2]" %>
          <%= label_tag "basketball[2]", "Boston Celtics" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[17]" %>
          <%= label_tag "basketball[17]", "Brooklyn Nets" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[30]" %>
          <%= label_tag "basketball[30]", "Charlotte Hornets" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[4]" %>
          <%= label_tag "basketball[4]", "Chicago Bulls" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[5]" %>
          <%= label_tag "basketball[5]", "Cleveland Cavaliers" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[8]" %>
          <%= label_tag "basketball[8]", "Detroit Pistons" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[11]" %>
          <%= label_tag "basketball[11]", "Indiana Pacers" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[14]" %>
          <%= label_tag "basketball[14]", "Miami Heat" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[15]" %>
          <%= label_tag "basketball[15]", "Milwaukee Bucks" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[18]" %>
          <%= label_tag "basketball[18]", "New York Knicks" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[19]" %>
          <%= label_tag "basketball[19]", "Orlando Magic" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[20]" %>
          <%= label_tag "basketball[20]", "Philadelphia 76ers" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[28]" %>
          <%= label_tag "basketball[28]", "Toronto Raptors" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "basketball[27]" %>
          <%= label_tag "basketball[27]", "Washington Wizards" %>
        </div>
      </div>
    </div>
  </div>
  <h2>National Football League</h2>

  <div id="football_container">
    <div class="league_one_container">
      <div class="league_one_content">
        <h4>American Football Conference</h4>

        <div class="checkbox_container">
          <%= check_box_tag "football[31]" %>
          <%= label_tag "football[31]", "Baltimore Ravens" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[32]" %>
          <%= label_tag "football[32]", "Houston Texans" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[2]" %>
          <%= label_tag "football[2]", "Buffalo Bills" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[4]" %>
          <%= label_tag "football[4]", "Cincinnati Bengals" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[5]" %>
          <%= label_tag "football[5]", "Cleveland Browns" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[7]" %>
          <%= label_tag "football[7]", "Denver Broncos" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[11]" %>
          <%= label_tag "football[11]", "Indianapolis Colts" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[12]" %>
          <%= label_tag "football[12]", "Kansas City Chiefs" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[30]" %>
          <%= label_tag "football[30]", "Jacksonville Jaguars" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[15]" %>
          <%= label_tag "football[15]", "Miami Dolphins" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[17]" %>
          <%= label_tag "football[17]", "New England Patriots" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[20]" %>
          <%= label_tag "football[20]", "New York Jets" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[13]" %>
          <%= label_tag "football[13]", "Oakland Raiders" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[23]" %>
          <%= label_tag "football[23]", "Pittsburgh Steelers" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[10]" %>
          <%= label_tag "football[10]", "Tennessee Titans" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[24]" %>
          <%= label_tag "football[24]", "San Diego Chargers" %>
        </div>
      </div>
    </div>
    <div class="league_two_container">
      <div class="league_two_content">
        <h4>National Football Conference</h4>

        <div class="checkbox_container">
          <%= check_box_tag "football[22]" %>
          <%= label_tag "football[22]", "Arizona Cardinals" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[1]" %>
          <%= label_tag "football[1]", "Atlanta Falcons" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[29]" %>
          <%= label_tag "football[29]", "Carolina Panthers" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[3]" %>
          <%= label_tag "football[3]", "Chicago Bears" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[6]" %>
          <%= label_tag "football[6]", "Dallas Cowboys" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[8]" %>
          <%= label_tag "football[8]", "Detroit Lions" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[9]" %>
          <%= label_tag "football[9]", "Green Bay Packers" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[16]" %>
          <%= label_tag "football[16]", "Minnesota Vikings" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[18]" %>
          <%= label_tag "football[18]", "New Orleans Saints" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[19]" %>
          <%= label_tag "football[19]", "New York Giants" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[21]" %>
          <%= label_tag "football[21]", "Philadelphia Eagles" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[25]" %>
          <%= label_tag "football[25]", "San Francisco 49ers" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[26]" %>
          <%= label_tag "football[26]", "Seattle Seahawks" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[14]" %>
          <%= label_tag "football[14]", "St. Louis Rams" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[27]" %>
          <%= label_tag "football[27]", "Tampa Bay Buccaneers" %>
        </div>
        <div class="checkbox_container">
          <%= check_box_tag "football[28]" %>
          <%= label_tag "football[28]", "Washington Redskins" %>
        </div>
      </div>
    </div>
  </div>
  <div class="submit_button">
    <%= submit_tag "Add Teams" %>
  </div>
<% end %>
</div>