<!DOCTYPE html>
<html>
<head>
  <title>MyTeams</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav>
    <ul>
      <li id="site_name"><%= link_to "My Teams", root_path %></li>
      <% if current_user %>
        <li>Welcome, <%= current_user.email %></li>
        <li><%= link_to "Logout", "/destroy" %></li>
      <% else %>
        <li><%= link_to "Login", "/login" %></li>
      <% end %>
    </ul>
  </nav>
</header>
<main>
  <%= yield %>
</main>
</body>
</html>
