<!DOCTYPE html>
<html>
<head>
  <title>MyTeams</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav>
    <ul>
      <li id="site_name"><%= link_to "My Teams", root_path %></li>
      <div id="right_side_nav">
        <% if current_user %>
          <li><%= link_to "Logout", "/destroy" %></li>
          <li><%= link_to "Add Teams", "/teams/new" %></li>
          <li>Welcome, <%= current_user.email %></li>
        <% else %>
          <li><%= link_to "Login", "/login" %></li>
        <% end %>
      </div>
    </ul>
  </nav>
</header>
<main>
  <%= yield %>
</main>
</body>
</html>
